{% extends '/user/base.html' %}
{% block head %}
  <link rel="canonical" href="{{ url_for('profile', user_login=user.login,
                                                    _external=True) }}" />
{% endblock %}
{% block profile %}
  <dl>
    {% if user.url %}
      <dt>Website</dt>
      <dd><a href="{{ user.url }}">{{ user.url }}</a></dd>
    {% endif %}
    <dt>Since</dt>
    <dd><time datetime="{{ user.created_at.isoformat() }}">
      {{ user.created_at }}</time></dd>
  </dl>
{% endblock %}
