{% extends '/forum/base.html' %}
{% from 'pager.html' import render_pager %}
{% block head %}
  <link rel="alternate"
    href="{{ config.get('FORUM_FEED_HREF', url_for('atom', _external=True)) }}"
    type="{{ config.get('FORUM_FEED_TYPE', 'application/atom+xml') }}" />
  {% if next %}
    <link rel="next" href="{{ url_for('posts', next=next.id,
                                      limit=limit, view=view) }}" />
  {% endif %}
{% endblock %}
{% block body %}
  {% if current_user %}
    <a href="{{ url_for('write_form') }}">Write a post</a>
  {% endif %}
  {% if view == 'summary' %}
    {% set grouped = posts|groupby('sticky') %}
    {% set posts = (grouped[True]|default({})).list %}
    {% set other_posts = grouped[False].list %}
  {% endif %}
  {% if posts %}
  <table>
    <thead>
      <tr>
        <th class="author">Author</th>
        <th class="title">Title</th>
        <th class="created-at">Written Time</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
        {% if post.sticky %}
          <tr class="sticky">
        {% else %}
          <tr>
        {% endif %}
          <td class="author">
            <a href="{{ url_for('user.profile',
                                user_login=post.author.login) }}">
                {{- post.author -}}
            </a>
          </td>
          <td class="title">
            <a href="{{ url_for('post', post_id=post.id) }}">{{ post }}</a>
          </td>
          <td class="created-at">
            <time datetime="{{ post.created_at.isoformat() }}">
              {{- post.created_at.date() -}}
            </time>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  {% if other_posts %}
  <div id="post-summaries">
  {% for post in other_posts %}
    <article id="post-{{ post.id }}">
      <header>
        <dl class="info">
          <dt class="author">Author:</dt>
          <dd class="author"><a href="{{
              url_for('user.profile', user_login=post.author.login) }}">
              {{- post.author -}}
          </a></dd>
          <dt class="created-at">Written Time:</dt>
          <dd class="created-at"><time class="created-at"
                              datetime="{{ post.created_at.isoformat() }}">
            {{- post.created_at.date() -}}
          </time></dd>
          <dt class="title">Title:</dt>
          <dd class="title"><h1><a href="{{ url_for('post', post_id=post.id) }}">
            {{- post -}}
          </a></h1></dd>
        </dl>
      </header>
      <section class="content">{{ post.body_html|safe }}</section>
      <footer>
        <a href="{{ url_for('post', post_id=post.id) -}}
                 {% if post.replies.first() -%}
                   #comment-{{ post.replies.first().id }}
                 {%- else -%}
                   #reply-form
                 {%- endif %}">
          {{- post.comments.count() }} comments</a>
      </footer>
    </article>
  {% endfor %}
  </div>
  {% endif %}
  {{ render_pager(pager, limit, 'posts') }}
{% endblock %}
