{% extends '/forum/base.html' %}
{% from 'pager.html' import render_pager %}
{% block body %}
  {% if current_user %}
    <a href="{{ url_for('write_form') }}">Write a post</a>
  {% endif %}
  <table>
    <thead>
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Written Time</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
        {% if post.sticky %}
          <tr class="sticky">
        {% else %}
          <tr>
        {% endif %}
          <td><a href="{{ url_for('user.profile',
                                  user_login=post.author.login) }}">
                {{- post.author }}</a></td>
          <th><a href="{{ url_for('post', post_id=post.id) }}">
                {{- post }}</a></th>
          <td><time datetime="{{ post.created_at.isoformat() }}">
                {{ post.created_at.date() }}</time></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ render_pager(pager, limit, 'posts') }}
{% endblock %}
