{%- macro static_url_for(filename) -%}
  {%- set url = url_for('.static', filename=filename) -%}
  {%- if config['DEBUG'] -%} {{ url.replace('.min.', '.') }}
  {%- else -%} {{ url }} {%- endif -%}
{%- endmacro -%}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>{% block title -%} LangDev {%- endblock %}</title>
    <script src="{{ static_url_for('jquery-1.6.1.min.js') }}"></script>
  </head>
  <body>
    <header>
      <h1>LangDev</h1>
      <nav>
        {% if current_user %}
          <a href="{{ url_for('user.profile',
                              user_login=current_user.login) }}">
            {{- current_user -}}
          </a>
          <a href="{{ url_for('user.signout') }}">Sign out</a>
        {% else %}
          <a href="{{ url_for('user.signin_form',
                              return_url=request.url) }}">Sign in</a>
          <a href="{{ url_for('user.signup_form') }}">Sign up</a>
        {% endif %}
      </nav>
    </header>
    {% block body %}
    {% endblock %}
  </body>
</html>
