{% macro render_raw_form(endpoint) %}
  {% set method = method_for(endpoint)|lower %}
  {% set special_method = method not in ('get', 'post') %}
  {% if special_method %}
    {% set action = url_for(endpoint, __method__=method, **kwargs) %}
  {% else %}
    {% set action = url_for(endpoint, **kwargs) %}
  {% endif %}
  <form action="{{ action }}"
        method="{{ special_method and 'post' or method }}">
    {{ caller() }}
  </form>
{% endmacro %}

{% macro render_form(form, endpoint) %}
  {% call render_raw_form(endpoint, **kwargs) %}
    <fieldset>
      {% for field in form %}
        {{ render_field(field, form.errors[field.name]) }}
      {% endfor %}
    </fieldset>
  {% endcall %}
{% endmacro %}

{% macro render_field(field, errors=[]) %}
  {% if field.type == 'HiddenField' %}
    {{ field() }}
  {% else %}
    <div class="{{ field.name }} {{ field.flags.__dict__.keys()|join(' ') }}">
      {% if field.type != 'SubmitField' %}
        {{ field.label }}
      {% endif %}
      {{ field()|safe }}
      {% if errors %}
        <ul>
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}
